* {      /* Denne koden lager en boks rundt alle html-elementer
            denne koden kan vi komentere ut for å vise koden uten de rød strekene  
    border: 1px solid red !important; */
  }
  

body {
    background-color: #f5f5f5; /* Det er sånn du for bakrunn farge på nettsiden din */
    font-family: Georgia, serif; 
  }

p {
        text-align: center;/* Sier at teksten skal stå i midten - center */
        color: red; /* At du for farge på skiften/teksten */
      }

#hoved {
    width: 60%; /* Sette bredde på boksen */                 
    margin: 50px auto;/* Avstand til andre elimenter utenfor boksen */          
    padding: 40px;/* Avstand fra element inni en bokst til kanten av boksen */	             
    background-color: white; /* Det er bakrunns farge på nettsiden din */
    border: 40px dotted hsl(321, 78%, 31%); /* Størrelsen på rammen, type ramme og fargen på rammen */
  }